<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<!-- page content -->
<div class="404">
    <div class="uk-container">
        <span>Page not found</span>
    </div>
</div>
<%- include('includes/end.ejs') %>
