<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<!-- page content -->
<div class="404 uk-panel uk-container uk-margin-large-top">
    <div class="uk-container">
        <div class="js-upload uk-placeholder uk-text-center">
            <span uk-icon="icon: info"></span>
            <span class="uk-text-middle">Page you're looking for is not found</span>
        </div>
    </div>
</div>
<%- include('includes/end.ejs') %>
